<table>
  <thead>
    <tr>
      <th>Select</th>
      <th>Feature</th>
      <th *ngFor="let key of keys">{{key}}</th>
    </tr>
    <tr *ngFor="let feature of features">
        <td><input type="checkbox" [value]="feature" (input)="onSelectModalFeatures($event.target.checked, feature)"></td>
        <td>Feature {{feature.id}}</td>
        <td>{{feature.id}}</td>
        <td>{{feature.lat}}</td>
        <td>{{feature.lng}}</td>
      </tr>

  </thead>
</table>

  <button class="modal-btn" (click)="onOpenModal($event)">Associate</button>
  <!-- <p *ngIf="modalOpened" [style.color]="'black'">Show this if modalOpened is true</p> -->
  
  <div 
    [ngClass]="{
      'modal': modalOpened,
      'modal-init': !modalOpened
    }" 
  >
  <span class="close-span">&times;</span>
    <div class="modal-content">
      <ul *ngFor="let val of modalVals">
        <li>Id: {{val.id}}</li>
        <li>Lat: {{val.lat}}</li>
        <li>Lng: {{val.lng}}</li>
      </ul>
    </div>
  </div>