table {
    color: black;
    background-color: lightsalmon;
    margin: 0 auto;
    /* border: 1px solid black; */
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.modal-btn {
    text-align: center;
    display: block;
    background-color: cornflowerblue;
    margin: 2% auto;
    animation: fadeIn 2s ease-in-out;
}

.modal-init {
    display: none;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    height: 100%;
    width: 100%;
    background-color: lightslategray;
    animation: fadeIn 1s ease-in-out;
}

.close-span {
    font-size: 3.5rem;
    font-weight: bold;
    position: absolute;
    right: 3%;
}

.close-span:hover {
    cursor: pointer;
}