.selected-val {
    animation: fadeIn 5s ease-in-out;
}

.selected2 {
    animation: fadeIn 7s ease-in-out;
}

div {height: 100%}

@keyframes fadeIn {
    0% {
        opacity: 0;
        background: white;
    }

    50% {
        opacity: 0.5;
        background: white;
    }

    100% {
        opacity: 1;
    }
}